::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(245 158 11);
    border-radius: 10px;
  }

  .open-sans-font {
    font-family: "Open Sans";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .toast-success {
    background-color: rgb(34 197 94) !important; /* Change to your desired color */
    color: white; /* Change the text color if needed */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* For Internet Explorer and Edge */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide the file attachment button */
.trix-button-group--file-tools {
  display: none;
}

/* Hide the link button */
.trix-button-group--text-tools [data-trix-action="link"] {
  display: none;
}

/* Hide the file attachment button by targeting its action attribute */
.trix-button-group [data-trix-action="attachFiles"] {
  display: none;
}
