::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(56 189 248);
    border-radius: 10px;
  }

  .open-sans-font {
    font-family: "Open Sans";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  .toast-success {
    background-color: rgb(34 197 94) !important; /* Change to your desired color */
    color: white; /* Change the text color if needed */
}